.footer {
    margin-top: 50px;
    width: 100%;
    min-height: 1000px;
    &__title {
        margin-top: 40px;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        text-align: center;
        color: var(--white-color);
    }
    &__contacts {
        margin: 80px 0 100px 0;
        display: flex;
        justify-content: center;
        color: var(--white-color);
        &-info {
            margin: 0 24px 0 0;
            padding: 50px 50px;
            width: 416px;
            height: 656px;
            background-color: rgba(213, 98, 29, 0.1);
            border: 2px solid var(--orange-color);
        }
        &-subtitle {
            margin: 40px 0 25px 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 27%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
        &-links {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: var(--white-color);
            text-decoration: none;
            &:hover {
                color: var(--orange-color);
                transition: all .2s;
            }
        }
        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
        }
        &-map {
            width: 856px;
            height: 656px;
            border: 2px solid var(--orange-color);
            border-radius: 5px;
        }
        &-line {
            width: 100%;
        }
    }
    &__line {
        width: 1300px;
        margin: 0 auto;
        color: #FFFFFF;
        opacity: 0.5;
    }
    &__copyright {
        width: 1300px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 30px auto;
        &-policy {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-link {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
            text-decoration: none;
            &:hover {
                color: var(--orange-color);
                transition: all .2s;
            }
        }
        &-dev {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
            opacity: 0.5;
        }
    }
}