.techriders {
    width: 1100px;
    min-height: 900px;
    margin: 150px auto 0 auto;
    &__bunner {
        margin: 0 auto;
    }
    &__title {
        margin-top: 40px;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        color: var(--white-color);
        text-transform: uppercase;
    }
    &__inner {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
    }
    &__list {
        width: 526px;
        min-height: 690px;
        &-dropdown {
            margin-top: 20px;
            width: 450px;
            background-color: var(--bc-color);
            border-radius: 5px;
            &:focus-within {
                background-color: var(--orange-color);
            }
        }
        &-title {
            padding: 20px 40px 20px 40px;
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: var(--white-color);
            text-transform: uppercase;
            &::marker {
                content: "";
            }
        }
        &-droparrow {
            margin: 6px 0 6px 0;
            float: right;
        }
        &-item {
            padding: 0 70px 25px 60px;
            color: var(--white-color);
        }
        &-items {
            font-weight: 400;
            font-size: 14px;
            line-height: 35px;
        }
    }
    &__soundengin {
        margin-top: 5px;
        &-title {
            width: 415px;
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            text-align: center;
            color: var(--white-color);
        }
        &-item {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
        }
        &-img {
            border-radius: 5px;
        }
        &-name {
            width: 114px;
            margin: 30px auto 0 auto;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: var(--white-color);
        }
        &-social {
            text-align: center;
            img {
                width: 47px;
                height: 47px;
                padding: 15px 10px 15px 10px;
                margin: 25px 5px 0 5px ;
                border: 2px solid var(--orange-color);
                border-radius: 5px;
                &:hover {
                    color: var(--white-color);
                    background-color: var(--orange-color);
                    transition: all .3s;
                }
            }
        }
    }
}